{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogpost edit</h1>

    {% if blogPost.image != ""%}
        <p>(image: {{ blogPost.image }})</p>
    {% endif %}

    <div>
    {{ form_start(edit_form) }}

        {{ form_row(edit_form.image) }}
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.content) }}
        {{ form_row(edit_form.urlAlias) }}
        {{ form_row(edit_form.published) }}

        {{ form_end(edit_form) }}
    </div>

    <p>

        <section>
            <a href="{{ path('blogpost_index') }}" class="btn btn-primary" role="button" onclick="return confirm('You will lose all modification.')">Back to the list</a>
        </section>

        <aside>
            <input type="submit" value="Edit" class="btn btn-primary" role="button">
        </aside>

        <aside>
            <p>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-danger" role="button"  onclick="return confirm('Are you sure?')">
                {{ form_end(delete_form) }}
            </p>
        </aside>

    </p>


{% endblock %}
