{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogpost edit</h1>

    <div>
    {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}

        <section>
            <input type="submit" value="Edit" class="btn btn-primary" role="button">
        </section>

    {{ form_end(edit_form) }}

       <section>
           {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary" role="button">
           {{ form_end(delete_form) }}
       </section>
    </div>


    <aside>
        <a href="{{ path('blogpost_index') }}" class="btn btn-primary" role="button">Back to the list</a>
    </aside>


{% endblock %}
