{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <fieldset>
        <legend>
            <h1>Blogpost creation</h1>
        </legend>

        <div>
        {{ form_start(form) }}
            {{ form_row(form.image) }}
            {{ form_row(form.title, {'attr' : {'onkeyup' : "autoFillAlias();"}}) }}
            {{ form_row(form.content) }}
            {{ form_row(form.urlAlias) }}
            {{ form_row(form.published) }}
            <section>
                <input type="submit" class="btn btn-success" value="Create" />
            </section>
        {{ form_end(form) }}
        </div>

        <aside>
            <a href="{{ path('blogpost_index') }}" class="btn btn-primary" role="button">Back to the list</a>
        </aside>
    </fieldset>
{% endblock %}

{% block javascripts %}

<script type="text/javascript" >
    function autoFillAlias(){
        title = document.getElementById('appbundle_blogpost_title').value;
        document.getElementById('appbundle_blogpost_urlAlias').value = encodeURI(title).replace(/%20/g,'-');
    }
</script>

{% endblock %}
