{% extends 'base.html.twig' %}

{% block title %}{{ blogPost.title }}{% endblock %}

{% block body %}
    <h1>Post n°{{ blogPost.id }}</h1>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Image</th>
                <td>{{ blogPost.image }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ blogPost.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blogPost.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blogPost.content }}</td>
            </tr>
            <tr>
                <th>Urlalias</th>
                <td>{{ blogPost.urlAlias }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{% if blogPost.published %}{{ blogPost.published|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>



    <p>

        <aside>
            <a href="{{ path('blogpost_index') }}" class="btn btn-primary" role="button">Back to the list</a>
        </aside>

    </p>

{% endblock %}
