{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogpost</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogPost.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blogPost.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blogPost.content }}</td>
            </tr>
            <tr>
                <th>Urlalias</th>
                <td>{{ blogPost.urlAlias }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{% if blogPost.published %}{{ blogPost.published|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <br/>

    <a href="{{ path('blogpost_index') }}" class="btn btn-primary" role="button">Back to the list</a>

    <br/>

    <a href="{{ path('blogpost_edit', { 'id': blogPost.id }) }}" class="btn btn-primary" role="button">Edit</a>

    <br/>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-primary" role="button">
    {{ form_end(delete_form) }}

{% endblock %}
