{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    {% for post in posts %}
    <!-- Blog Post Start -->
    <div class="col-md-12 blog-post">
        <div class="post-title">
            <a href="{{ url('homepage') }}post/{{ post.urlAlias }}">
                <h1>
                    {% if post.image != ""%}
                        <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="" class="img-thumbnail" width="200px" height="200px">
                    {% endif %}
                    {{ post.title }}
                </h1>
            </a>
        </div>

        <div class="post-info">
            <span>{{ post.getPublishedStr() }} / by <b><a href="{{ url('homepage') }}about">Alois</a></b></span>
        </div>

        <p>{{ post.getSomeContent() }}...</p>

        <a href="{{ url('homepage') }}post/{{ post.urlAlias }}" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
    </div>
    <!-- Blog Post End -->
    {% endfor %}


    <div class="col-md-12 text-center">
        <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
        <div id="post-end-message"></div>
    </div>
{% endblock %}
