{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts|reverse %}
    <!-- Blog Post Start -->
    <div class="col-md-12 blog-post">
        <div class="post-title">
            <a href="{{ app.request.uri }}post/{{ post.urlAlias }}"><h1>{{ post.title }}</h1></a>
        </div>
        <div class="post-info">
            <span>{{ post.getPublishedStr() }} / by <a href="{{ app.request.uri }}about">Alois</a></span>
        </div>
        <p>{{ post.getSomeContent() }}...</p>
        <a href="{{ app.request.uri }}post/{{ post.urlAlias }}" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
    </div>
    <!-- Blog Post End -->
    {% endfor %}


    <div class="col-md-12 text-center">
        <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
        <div id="post-end-message"></div>
    </div>
{% endblock %}
