{% extends 'base.html.twig' %}

{% block body %}
	<!-- Blog Post Start -->
	<div class="col-md-12 blog-post">
		<a href="{{ asset('uploads/images/' ~ post.image) }}" target="_blank">
			<img src="{{ asset('uploads/images/' ~ post.image) }}" class="img-fluid" alt="" width="100%">
		</a>
		<div class="post-title">
			<h1>{{ post.title }}</h1></a>
		</div>
		<div class="post-info">
			<span>{{ post.getPublishedStr() }} / by <a href="{{ url('homepage') }}about">Alois</a></span>
		</div>
		<p>{{ post.content }}</p>
	</div>

	<center>
		<a href="{{ url('homepage') }}" class="btn btn-primary" role="button">Homepage</a>
	</center>
	<!-- Blog Post End -->
{% endblock %}